body {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  text-align: center;
}

.about-images {
  display: flex;
  justify-content: space-evenly;
}

.about-images img {
  border-radius: 3px;
}

.name {
  text-align: center;
  font-family: Bokor, sans-serif;
}

.name h3 {
  font-size: 2.7rem;
  margin-bottom: -2px;
  letter-spacing: 0.4rem;
}

.name p {
  margin-top: -20px;
  font-size: 0.8rem;
  color: white;
  padding: 7px;
  background-color: #2d3d50;
  letter-spacing: 3px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

h2 {
  margin-top: 5%;
  margin-bottom: 30px;
  font-family: Bokor, times new roman;
  letter-spacing: 3px;
}

h3 {
  margin-top: 2em;
  font-family: Bokor, times new roman;
  letter-spacing: 3px;
}

img {
  max-width: 400px;
}

.about-home {
  text-align: center;
}
.about-home a {
  text-decoration: none;
  color: black;
}
.about-home a:hover {
  color: skyblue;
  text-decoration: underline;
}

@media and screen (max-width: 700px) {
  .about-images {
    display: block;
    margin-bottom: 7px;
  }
}
