body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Bokor, sans serif;
}

h2 {
  letter-spacing: 0.7px;
}
.name {
  text-align: center;
  font-family: Bokor, sans-serif;
}
.name h3 {
  font-size: 2.7rem;
  margin-bottom: -2px;
  letter-spacing: 0.4rem;
}
.name p {
  margin-top: -20px;
  font-size: 0.8rem;
  color: white;
  padding: 7px;
  background-color: #2d3d50;
  letter-spacing: 3px;
}
.info {
  font-size: 1.4rem;
  color: orange;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 1px 2px black;
}

.images {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  /* height: 100%; */
}

.images::after {
  content: "";
  flex-basis: 610px;
}
.images img {
  margin-bottom: -20px;
  border-radius: 3px;

  object-fit: cover;
}

.images p {
  color: orange;
  font-weight: 700;
  letter-spacing: 1.5px;
}

figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

figure img {
  margin: 12px;
  border-radius: 7px;
}

.gallery-home {
  display: flex;
  vertical-align: flex-end;
  justify-content: center;
}

.gallery-home a {
  font-family: Bokor;
  text-decoration: none;
}

.gallery-home a:hover {
  color: skyblue;
  text-decoration: underline;
}

figcaption {
  letter-spacing: 0.1rem;
  text-align: center;
}
