* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bokor", system-ui;
  color: white;
  background-image: url(../images/Main_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html {
  height: 100%;
}

.section {
  margin-left: 12%;
}

.title h1 {
  font-size: 2.8rem;
  letter-spacing: 5px;
}

.title p {
  font-size: 0.5rem;
  color: white;
  background-color: #2d3d50;
  letter-spacing: 1px;
  padding: 5px;
  text-align: center;
  margin-top: -20px;
  letter-spacing: 4px;
}

nav {
  display: flex;
  align-items: baseline;
}

nav ul {
  margin-left: auto;
  margin-right: 20%;
}

.navLinks {
  display: flex;
  margin-top: 23px;
  margin-left: auto;
  margin-right: 17%;
}

.section {
  display: flex;
  margin-left: 12%;
}

.welcome {
  margin-left: 12%;
  margin-top: 20%;
  padding: 7px;
}

.welcome h1 {
  font-size: 5rem;
  letter-spacing: 4px;
  font-weight: 500;
  margin-bottom: -18px;
}

.welcome h3 {
  letter-spacing: 7px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: -12px;
}

.welcome button {
  padding: 7px;
  background-color: #2d3d50;
  color: white;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 5%;
}

ul a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

ul a:hover {
  opacity: 0.7;
  border-bottom: 3px solid rgb(241, 122, 122);
  transition: 0.5s;
}
.navLinks svg {
  display: none;
}
/* Media queries for responsiveness */

@media screen and (max-width: 700px) {
  .hideonmobile {
    display: none;
  }

  .sidebar {
    position: fixed;

    background: #98342d;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 99;
  }

  .sidebar svg {
    display: block;
  }
  .welcome {
    margin-top: 60%;
  }

  .welcome h3 {
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-bottom: 0.5%;
  }
  .welcome h1 {
    font-size: 1.9rem;
    margin-bottom: 0.5%;
    letter-spacing: 0.5%;
  }
}
