body {
  max-width: 980px;
  margin: 0 auto;
}

fieldset {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-image: radial-gradient(#ccc, white);
}

.fieldset-reservation {
  margin-top: 2%;
}
.fieldset-reservation label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 10px;
}

input {
  padding: 7px;
}

.fieldset label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 10px;
}

legend {
  text-align: center;
  font-size: 1.3rem;
}

.comments {
  margin-left: -827px;
}

.name {
  text-align: center;
  font-family: Bokor, sans-serif;
  margin-bottom: 4%;
}
.name h3 {
  font-size: 2.7rem;
  margin-bottom: -2px;
  letter-spacing: 0.4rem;
}
.name p {
  margin-top: -20px;
  font-size: 0.8rem;
  color: white;
  padding: 7px;
  background-color: #2d3d50;
  letter-spacing: 3px;
}

form label {
  font-family: "Times New Roman", Times, serif;
}
.contacts {
  display: block;
  text-align: center;
  text-decoration: none;
}

img {
  display: block;
  width: 300px;
  margin: 0 auto;
  border-radius: 3px;
}

.about-home {
  text-align: center;
}
.about-home a {
  text-decoration: none;
  color: black;
}
.about-home a:hover {
  color: skyblue;
  text-decoration: underline;
}
