* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  margin-left: 12%;
}
.title h1 {
  font-size: 2.3rem;
}
.title p {
}
nav {
  display: flex;
}

nav ul {
  margin-left: auto;
  margin-right: 20%;
}

.welcome {
  margin-left: 12%;
  margin-top: 12%;
}
