<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winta About</title>
    <link rel="stylesheet" href="../stylesheets/About.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bokor&display=swap" rel="stylesheet">
</head>
<body>

  <%- include('../partials/header') %>
  
    <h2>About Winta...</h2>

    <div class="about-images">
      <img src='../images/Ribeye-Steak-Garlic-Butter.jpg' alt="Ribey-Steak-Garlic-Butter" />
    <img src='../images/Gal2.jpg' alt="Sliced Steak" />
    </div>
    

    <h3>Our history</h3>

    <p class="about-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis ratione
      eos sint quibusdam impedit. Quasi itaque dolorem ipsam magni pariatur
      culpa nulla suscipit impedit quibusdam! Sunt, iusto neque! Adipisci,
      provident. Itaque laboriosam dolore nulla et doloremque voluptas cumque
      quam reiciendis ab quas praesentium asperiores magnam consequuntur
      adipisci eligendi molestias voluptatibus odio obcaecati, unde error
      quaerat nisi. Asperiores nesciunt unde repudiandae.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum recusandae numquam distinctio voluptatem maxime vero sunt veritatis cum accusantium, illum, neque molestiae quae, aliquid expedita molestias quasi nesciunt pariatur illo dolor provident esse assumenda beatae quos! In aliquam, dolore labore assumenda cumque laborum adipisci ipsam quibusdam maxime eos consequuntur unde laudantium maiores praesentium provident necessitatibus inventore similique culpa, quaerat nostrum fugit officiis ipsum! Consequatur reiciendis recusandae fugiat accusantium rerum repellat officiis magni doloribus culpa amet, dicta similique magnam deserunt. Numquam illum porro expedita sed, repellendus assumenda quidem odit exercitationem voluptate officiis modi harum voluptatibus beatae suscipit repellat! Sequi, dolorem minima.
    </p>
    <p  class="about-text">
      Vero facere quod doloremque odit earum quae quidem veritatis nam
      deleniti ullam excepturi adipisci atque expedita debitis, ea recusandae
      exercitationem delectus! Aliquid dolorem esse eius quo voluptatibus!
      Delectus, expedita? At? Maiores, ducimus eligendi sint adipisci delectus
      quas rem dolorum eum quia optio accusamus pariatur libero labore
      consectetur maxime, voluptate laborum rerum suscipit ut. Officiis
      tempore voluptas et tenetur dicta expedita.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, maiores magni voluptas eveniet atque cum consectetur quae numquam iusto unde minus quaerat aperiam id totam mollitia optio harum molestiae quasi porro tempora iste dolore aliquam. Aut mollitia accusantium adipisci blanditiis quam quaerat amet fugit! Hic necessitatibus incidunt facere ut explicabo iusto. A repellat quos obcaecati veniam commodi ducimus alias! Ducimus libero sint quibusdam tempore enim. Voluptatibus quia doloremque enim obcaecati quae! Quas doloribus nostrum ab.
    </p>

    <p class="about-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis ratione
      eos sint quibusdam impedit. Quasi itaque dolorem ipsam magni pariatur
      culpa nulla suscipit impedit quibusdam! Sunt, iusto neque! Adipisci,
      provident. Itaque laboriosam dolore nulla et doloremque voluptas cumque
      quam reiciendis ab quas praesentium asperiores magnam consequuntur
      adipisci eligendi molestias voluptatibus odio obcaecati, unde error
      quaerat nisi. Asperiores nesciunt unde repudiandae. Vero facere quod
      doloremque odit earum quae quidem veritatis nam deleniti ullam excepturi
      adipisci atque expedita debitis, ea recusandae exercitationem delectus!
      Aliquid dolorem esse eius quo voluptatibus! Delectus, expedita? At? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iusto ducimus eos veritatis earum commodi, dolor nisi. Asperiores enim quas dolorum culpa, earum praesentium exercitationem vero modi. Cum fuga esse quod maxime. Dolore ullam omnis aliquid reprehenderit laborum magnam expedita hic quod nobis quo soluta autem, obcaecati facere possimus beatae sit accusantium cupiditate nihil sint fuga. Ducimus possimus libero alias necessitatibus laborum porro ad asperiores excepturi blanditiis laudantium temporibus, consequuntur delectus modi? Temporibus quod ullam accusamus dicta vitae ipsam dolor, voluptate exercitationem autem. Aut, similique quo id molestias recusandae optio quasi deserunt nesciunt aspernatur quibusdam dignissimos iure dolorem eveniet earum dolorum reiciendis facere vel consequuntur illum deleniti quam illo hic sit. Nulla officia harum cumque.
    </p>

    <p class="about-text">
      Maiores, ducimus eligendi sint adipisci delectus quas rem dolorum eum
      quia optio accusamus pariatur libero labore consectetur maxime,
      voluptate laborum rerum suscipit ut. Officiis tempore voluptas et
      tenetur dicta expedita. Asperiores alias numquam expedita eveniet esse
      voluptatem, vitae laboriosam doloribus assumenda animi beatae ad. Omnis
      consequuntur sint ab alias harum nobis magni. Earum nihil culpa quis
      incidunt optio molestias debitis.
    </p>

    <div class="about-home">
      <a href="/">Home</a>

</body>
</html>