<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/Contacts.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bokor&display=swap" rel="stylesheet">
    
    <title>Winta contact</title>
</head>
<body>

<header>
  <%- include('../partials/header') %>
</header>

<!-- Desktop layout -->
  
    <img src="../images/Ribeye-Steak-Garlic-Butter.jpg" alt="Ribeye stake"/>

    <h3 class="h3-desktop">Want to learn more about Winta, or share your experience?</h3>
    <fieldset class="fieldset">
      <legend>Contact Us</legend>
      <form action="/submit" method="POST">
        <p>
          <label for="name">Name:</label>
          <input
            type="text"
            name="name"
            placeholder="Name"
          />
        </p>
        <p>
          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            placeholder="Email"
          />
        </p>
        <p>
          <label for="comments" class="comments">
            Comments:
          </label>
          <br />
          <textarea
            name="comments"
            cols="125"
            rows="15"
            placeholder="Share your comments"
          ></textarea>
        </p>
        <p>
          <button type="submit" name ='comment-input'>Submit</button>
        </p>
      </form>
    </fieldset>
    
   <h3 class="h3">Or, just wish to make a reservation?</h3>
   <h3 id="confirmed"></h3>

    <fieldset class="fieldset-reservation" id="resevationID">
      <legend>Make a reservation</legend>
      <form action="/submit/reservation" method="POST">
        <p>
          <label for="date">Date:</label>
          <input type="date" name="date">
        </p>
        <p>
          <label for="time">Time:</label>
          <input type="text" name="time" placeholder="AM or PM" id="time">
        </p>
        <p>
          <label for="name">Name:</label>
          <input type="text" name='name' placeholder="Name">
        </p>
         <p>
           <label for="numOfPeople">Number: </label>
           <input type="number" name="numOfPeople" placeholder="Of guests">
         </p>        
        <p>
          <label for="requests">Special requests:</label><br>
         <textarea name="requests" cols="125" rows="15"
          placeholder="Special requests">
         </textarea>
         <p>
          <button type="submit" name="reservation">Submit</button>
        </p>
      </form>
      </fieldset>

         <!-- Mobile layout -->

         <fieldset class="fieldset-mobile">
          <legend>Contact Us</legend>
          <form action="/submit" method="POST">
            <p>
              <label for="name">Name:</label>
              <input
                type="text"
                name="name"
                placeholder="Name"
              />
            </p>
            <p>
              <label for="email">Email:</label>
              <input
                type="email"
                name="email"
                placeholder="Email"
              />
            </p>
            <p>
              <label for="comments" class="comments">
                Comments:
              </label>
              <br />
              <textarea
                name="comments"
                cols="25"
                rows="15"
                placeholder="Share your comments"
              ></textarea>
            </p>
            <p>
              <button type="submit" name ='comment-input'>Submit</button>
            </p>
          </form>
        </fieldset>
        
       <h3 class="h3-mobile">Or, just wish to make a reservation?</h3>
       <h3 id="confirmed-mobile"></h3>
    
        <fieldset class="fieldset-reservation-mobile" id="resevationID-mobile">
          <legend>Make a reservation</legend>
          <form action="/submit/reservation" method="POST">
            <p>
              <label for="date">Date:</label>
              <input type="date" name="date">
            </p>
            <p>
              <label for="time">Time:</label>
              <input type="text" name="time" placeholder="AM or PM" id="time">
            </p>
            <p>
              <label for="name">Name:</label>
              <input type="text" name='name' placeholder="Name">
            </p>
             <p>
               <label for="numOfPeople">Number: </label>
               <input type="number" name="numOfPeople" placeholder="Of guests">
             </p>        
            <p>
              <label for="requests">Special requests:</label><br>
             <textarea name="requests" cols="25" rows="15"
              placeholder="Special requests">
             </textarea>
        </p>
        <p>
          <button type="submit" name="reservation">Submit</button>
        </p>
      </form>
    </fieldset>

    <p>
      <div class="about-home">
        <a href="/">Home</a>
    </p> 
</body>
</html>