<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Winta Gallery</title>
    <link rel="stylesheet" href="../stylesheets/Gallery.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bokor&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('../partials/header') %>

    <h2>Welcome to our gallery!</h2>
    <h3 class="info">Some of our more delicious plates are all here!</h3>

    <div class="images"></div>

    <p class="gallery-home">
      <a href="/">Home</a>
    </p>
    <script type="text/javascript" src="gallery.js"></script>
  </body>
</html>
